/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #00a173;
  --secondary: #00be88;
  --error: #e7195a;
  --beige: #F5EFE0;
  --moss: #8B9991;
}
body {
  background: var(--beige);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: var(--moss);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 70px;
  display: flex;
  align-items: center; /*Vertical justifying of content*/
  justify-content: space-between;
}
header a {
  color: white;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 50px;
  margin: 0 auto;
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 500px;
}

/* route details */

.route-details {
  background: #fff;
  border-radius: 25px;
  margin: 20px;
  padding: 50px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.route-details h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  color: black;
}

.route-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--moss);
}
.route-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.route-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}