/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #104a24;
  --error: #e7195a;
}
body {
  background: #fff;
  margin: 0;
  font-family: "Poppins";
}
header {
  background:#024b30;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}
#route-details {
  background:  #f5f5f5;
  border-radius: 25px;
  margin: 20px auto;
  padding: 50px;
  position: relative;
}
#route-details h2 {
  margin: 0 0 -20px 0;
  padding-right: 30px;
  /*font-size: 1.2em;*/
  color: var(--primary);
}
#route-details p {
  margin: 0;
  font-size: 1.0em;
  color: #555;
}
#route-details i {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  background:  #f5f5f5;
  padding: 5px;
  border-radius: 50%;
  color: #333;
}

/* form */
.region-form{
  background: #f5f5f5;
  border-radius: 25px;
  margin: 20px auto;
  padding: 20px 50px 50px 40px;
  position: relative;
  height: 150px;
}

label, input, select {
  display: block;
  font-family: "Poppins";
}
input, select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 20px auto;
  padding: 50px;
  background: #f5f5f5;
  border-radius: 25px;
}